<h1>Bienvenue sur la page des articles</h1>


<% @posts.each do |post| %>

  <h2><%= post.name %></h2>

  <p><%= post.content %></p>

  <p>

  <a href="<%= post_path(post.id) %>" class="btn btn-primary">Lire la suite</a>

  <a href="<%= edit_post_path(post.id) %>" class="link">Editer</a>

  <a href="<%= post_path(post.id) %>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE">Supprimer</a>

  </p>
<% end %>

<p>
  <a href="<%= new_post_path %>" class="btn btn-success">Créer un article</a>
</p>
