<h1>Les catégories</h1>


<table class="table">

  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <a href="<%= edit_category_path(category.id) %>" class="btn btn-primary">Editer</a>
          <a href="<%= category_path(category.id) %>" class="btn btn-danger" data-confirm="t'es sur ?" data-method="DELETE">Supprimer</a>
        </td>
      </tr>


    <% end  %>
  </tbody>

<p>
  <a href="<%= new_category_path %>" class="btn btn-success">Créer  une catégorie</a>
</p>

</table>
